#header {
	height: 8vh;

	margin-left: 0;
	margin-right: 0;
	width: 100vw;

	border:0;

	background-color: #666666;

	font-size:6vh;
	font-family: Impact, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	z-index:100;
}

#footer-text {
	background-color:#666666; 
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid black;
}

#title {
	width:50vw;
	position:relative;
	top:0;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	text-align: center;
}

#about {
	margin-left: 10vw;
	width:3vw;
	text-align: center;
}

#work {
	width:3vw;
	text-align: center;
}

#other {
	width:3vw;
	text-align: center;
	border-right: 2px solid #333333;
}

.navbar {
	height:2vh;
	position:relative;
	text-align: left;
	border-left: 2px solid #333333;
	top:0;
	font-size:2vh;
	display: inline-block;
	float: left;
	margin-right: 0;
	margin-left: 0;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	font-family: sans-serif;
}

#footer {
height: 5vh;

margin-left: 0;
margin-right: 0;
width: 100vw;

border: 0;

background-color: white;

text-align:center;
font-size:4vh;
font-family: Impact, sans-serif;
position: fixed;
bottom: 0;
left: 0;
z-index:100;
}

#sidebar {
width: 30vw;
margin-left: 1vw;
margin-top: 9vh;
margin-bottom: 9vh;
clear:left;
font-family: Impact, sans-serif;
font-size: 3vh;
border: 1vh solid black;

border-radius: 30px;

background-color: #00ffcc;

text-align: center;
position: fixed;
height: 80vh;
}

a:link {
	font-weight:bold;
	color:#000000;
	text-decoration: none;
}
a:visited {
	color:#111111;
	text-decoration:none;
}
a:hover {
	font-weight:bold;
	color:#0000AA;
	text-decoration:underline;
}
a:active {
	font-weight:bold;
	color:#0000FF;
	text-decoration:underline;
}

a.navbar-link:link {
	color:#000000;
	text-decoration:none;
}
a.navbar-link:visited {
	color:#000000;
	text-decoration:none;
}
a.navbar-link:hover {
	color:#000000;
	text-decoration:none;
}
a.navbar-link:active {
	color:#000000;
	text-decoration:none;
}

#right {
margin-left: 35vw;
margin-top: 9vh;
margin-right: 0;
margin-bottom: 0;
width: 60vw;
font-size: 6vh;
font-family: Times, sans-serif;
}

#pic {
margin: auto;
margin-top: 2vh;
margin-bottom: 2vh;
height: 32vh;
width: 24vh;
}

#facebook {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 15vh;
}

#github {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 2.5vh;
}

#twitter {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 2.5vh;
}

#linkedin {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 2.5vh;
}

html {
margin: 0;
padding: 0;
border: 0;
}

body {
border: 0;
padding: 0;
margin: 0;
}

head {
border: 0;
padding: 0;
margin: 0;
}

#container {
position:absolute;
margin: 0;
padding: 0;
border: 0;
width=100vw;
}

p {
margin: 0;
}

ul {
font-size: 2.5vh;
text-align: left;
}

* {
border: 0;
margin: 0;
}

.accordion {
background-color: gray;
font-family: sans-serif;
border-radius: 3px;
margin-top: 1vh;
}

.accordioninside {
font-family: serif;
font-size: .5em;
}

#work-navigation {
	top: 10vh;
	position: fixed;
	width: 25vw;
	left:0;
}

.work-nav-left {
	position: relative;
	left: 0;
	width: 23vw;
	padding-right: 2vw;
	text-align: right;
	background-color: #AAAAAA;
	clear:left;
	margin-top: 1vh;
	font-size: 2em;
	float: left;
	display: inline-block;
	cursor: pointer;
}

#content-container {
	width: 68vw;
	position: absolute;
	left: 30vw;
	top:10vh;
	float:right;
	clear: right;
	overflow: auto;
	height: 83vh;
}

#top {
	background-color: #AAAAAA;
	position:absolute;
	top:8vh;
	left:0;
	width: 100vw;
	height:42vh;
}

#top-title {
	margin-top: 12vh;
	left:0;
	width: 80vw;
}

#top-text {
	margin-top: 5vh;
	width: 60vw;
	position: absolute;
	left: 0;
	padding-left: 10vw;
	padding-right: 5vw;
}

#top-photo {
	width: 15vw;
	height: 15vw;
	border-radius: 7.5vw;
	-webkit-border-radius: 7.5vw;
	-moz-border-radius: 7.5vw;
	background: url(../res/official.PNG) no-repeat;
	background-size: 15vw 15vw;
	position: absolute;
	left: 75vw;
	top:0;
}

#bottom {
	position: absolute;
	top:50vh;
	left:0;
	width:100vw;
	height:45vh;
}

.bottom {
	position: relative;
	display: inline-block;
	margin-top: 5vh;
	margin-left: 4vw;
	width: 28vw;
	height:35vh;
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 8px;
}

.bottom-title {
	width: 100%;
	margin-top: 3vh;
}

.bottom-text {
	width: 100%;
	margin-top: 5vh;
}

div.navbar a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3vh;
    left: 0;
    z-index: 10;
}

div.bottom-button a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 1vh;
}

.bottom-button {
	position: absolute;
	width: 10vw;
	height: 5vh;
	left: 9vw;
	bottom: 3vh;
	background-color: #11ff11;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 2px 2px 5px 5px #AAA inset;
	-moz-box-shadow: 2px 2px 5px 5px #AAA inset;
	box-shadow: 2px 2px 5px 5px #AAA inset;
}

#pic-2048 {
	height: 40%;
	width:80%;
	margin-left: 10%;
}

#pic-chess {
	height: 50%;
	width:50%;
	margin-left: 25%;
}

.footer-selection {
	position: absolute;
	top:10vh;
	width:20vw;
}

.footer-selection {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width:20vw;
}

.footer-pic {
	width: 15vh;
	height: 15vh;
}

#about-rant-container {
	position: absolute;
	top: 15vh;
	width: 70vw;
	left: 15vw;
	text-align: center;
	font-size: 3vh;
}