#header {
height: 8vh;

margin-left: 0;
margin-right: 0;
width: 100vw;

border:0;

background-color: #3F3f3f;

font-size:6vh;
font-family: Impact, sans-serif;
position: fixed;
top: 0;
left: 0;
z-index:100;
}

#title {
	width:36vw;
	position:relative;
	top:0;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
	text-align: center;
}

#mainpage {
	margin-left: 10vw;
	width:5vw;
	text-align: center;
}

#about {
	width:3vw;
	text-align: center;
}

#work {
	width:3vw;
	text-align: center;
}

#other {
	width:3vw;
	text-align: center;
}

.navbar {
	height:2vh;
	position:relative;
	text-align: left;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	top:0;
	font-size:2vh;
	display: inline-block;
	float: left;
	margin-right: 0;
	margin-left: 0;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	font-family: sans-serif;
}

#footer {
height: 5vh;

margin-left: 0;
margin-right: 0;
width: 100vw;

border: 0;

background-color: #3F3f3f;

text-align:center;
font-size:4vh;
font-family: Impact, sans-serif;
position: fixed;
bottom: 0;
left: 0;
z-index:100;
}

#sidebar {
width: 30vw;
margin-left: 1vw;
margin-top: 9vh;
margin-bottom: 9vh;
clear:left;
font-family: Impact, sans-serif;
font-size: 3vh;
border: 1vh solid black;

border-radius: 30px;

background-color: #00ffcc;

text-align: center;
position: fixed;
height: 80vh;
}

a:link {
	color:#000000;
	text-decoration:none;
}
a:visited {
	color:#333333;
	text-decoration:none;
}
a:hover {
	color:#0000AA;
	text-decoration:underline;
}
a:active {
	color:#0000FF;
	text-decoration:underline;
}

a.navbar-link:link {
	color:#000000;
	text-decoration:none;
}
a.navbar-link:visited {
	color:#000000;
	text-decoration:none;
}
a.navbar-link:hover {
	color:#000000;
	text-decoration:none;
}
a.navbar-link:active {
	color:#000000;
	text-decoration:none;
}

#right {
margin-left: 35vw;
margin-top: 9vh;
margin-right: 0;
margin-bottom: 0;
width: 60vw;
font-size: 6vh;
font-family: Times, sans-serif;
}

#pic {
margin: auto;
margin-top: 2vh;
margin-bottom: 2vh;
height: 32vh;
width: 24vh;
}

#facebook {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 15vh;
}

#github {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 2.5vh;
}

#twitter {
float: right;
width: 5vh;
height: 5vh;
margin-top: 1.5vh;
margin-right: 2.5vh;
}

html {
margin: 0;
padding: 0;
border: 0;
}

body {
border: 0;
padding: 0;
margin: 0;
}

head {
border: 0;
padding: 0;
margin: 0;
}

#container {
position:absolute;
margin: 0;
padding: 0;
border: 0;
width=100vw;
}

p {
margin: 0;
}

ul {
font-size: 2.5vh;
text-align: left;
}

* {
border: 0;
margin: 0;
}

.accordion {
background-color: gray;
font-family: sans-serif;
border-radius: 3px;
margin-top: 1vh;
}

.accordioninside {
font-family: serif;
font-size: .5em;
}

#work-navigation {
	margin-top: 10vh;
	position: relative;
}

.work-nav-left {
	position: relative;
	left: 0;
	width: 23vw;
	padding-right: 2vw;
	text-align: right;
	background-color: #AAAAAA;
	clear:left;
	margin-top: 1vh;
	font-size: 2em;
}

#content-container {
	width: 70vw;
	position: relative;
	left: 30vw;
	height:90vh;
	top:10vh;
}