<p class="project-full-description">
    Bloom is a digital restaurant menu showcasing mouth-watering clips of the restaurant's dishes, to entice customers into ordering delicious dishes they'll love.
    <br><br>
    I was the sole technical co-founder of the venture. I developed the application's frontend and backend using TypeScript, React, Express, and GraphQL. The server uses SQL for the menu data, Azure for video transcoding and storage, and is hosted on Azure. I assessed the cloud offerings considering future costs and selected Azure.
    <br><br>
    Bloom was deployed to five New York restaurants before unfortunately closing down due to time constraints on the part of the founding team.
    <br><br>
    <a href="/bloomdemo/" target="_blank">See a working demo of the app here!</a>
</p>