<p class="project-full-description">
    Boolio is a social questions application, that allows you to swiftly share your questions and opinions, right from your pocket and have fun while doing it.
    Boolio encourages users to answer quickly and easily, which creates high engagement and quick feedback for question askers.
    <br><br>
    I was the sole iOS developer for Boolio. I developed the application in Swift and successfully released the app to the App Store.
    <br><br>
    Unfortunately, due to time constraints from the founders, the app has been shut down and removed from the App Store.
</p>
