<p class="project-full-description">
    Carl is a line following robot that <a href="https://www.linkedin.com/in/christopher-wallace-a9580281">Chris Wallace</a> and I designed and built after our first semester Modeling and Controls class.
    <br><br>
    The robot is built only with electrical components - there is no computer involved. The circuit design uses op-amps, DC motors, and a photoresistor. The photoresistor input is fed into the circuit which converts this into a turn left/turn right signal.
</p>
