<p class="project-full-description">
    Games for Pebble is an application written for Pebble smartwatches in C.
    The application comes with seven games, including a chess game against an AI.
    Chess in particular was a big challenge due to the device's limited RAM - <strong>only 24kB!</strong> Running a min-max chess AI engine required strict optimization of the implementation and depth of analysis.
    <br><br>
    Games for Pebble has been downloaded over 25,000 times, and currently is among the fifteen most like games on the Pebble app store.
    <br><br>
    <a href='https://apps.rebble.io/application/54f65e8a13cdff61490000b6' target='_blank' rel="noopener">You can see the app's entry here</a>.
</p>
