<p class="project-full-description">
    Minimal HUD is a jailbreak tweak that modifies the iOS 12 and below system volume HUD so that it doesn't block content on the screen.
    Minimal HUD removes the large gray box that covers the screen, places the volume level indicators at the top or side of the screen, and modifies the colors of the volume level indicators.
    <br><br>
    The tweak was written in Objective-C. It has been downloaded over 150,000 times.
    <br><br>
    <a href="https://github.com/runnersaw/MinimalHUD" target='_blank' rel="noopener" style='font-weight:bold'>See the source code here</a>.
</p>
