<p class="project-full-description">
    Tarot is a multi-platform, multiplayer card game played with a tarot deck. Players can play with their friends online.
    <br><br>
    The game is built using Flutter and deploys to iOS, Android, and web.
    The server is also built with Dart, and communicates with the clients over gRPC (mobile) or Websockets (web).
    These technologies give the server the ability to notify all players when a move is made.
    The tarot engine and AI are implemented in Dart as well.
    <br><br>
    This project is still a work in progress. In particular, the UI and UX need substantial work.
    <br><br>
    <a href="https://tarotgame.app" target="_blank">See a working demo of the game here!</a>
</p>