<p class="project-full-description">
    I developed TextSender for Pebble, a jailbreak tweak that enables text sending and actionable notification functionality for Pebble users on iPhone.
    The tweak hooks directly into Pebble's app and modifies it in order to allow the user to send texts or perform actions on notifications.
    The capability to send texts from the watch was previously only available on Android due to iOS API limitations.
    <br><br>
    TextSender was written in Objective-C, and had over a thousand users.
    <br><br>
    <a href="http://cydia.saurik.com/package/com.sawyervaughan.pebblesmstweak/" target='_blank' rel="noopener">View TextSender for Pebble's listing on the jailbreak's App Store alternative here.</a>
    <br><br>
    <a href="https://github.com/runnersaw/pebble-text" target='_blank' rel="noopener">You can view the source code here</a>.
    <br><br>
    Unfortunately, a combination of time constraints, iOS changes, and Pebble's shutdown mean that the tweak no longer works.
</p>
