<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
	<div id="top-top" class="headerbg">
		<div id="popup"></div>
			<div class="header">
				<div class="container">
					<div class="social-icons">
						<a href="https://www.linkedin.com/pub/sawyer-vaughan/a4/723/43b" target="_blank"><img class="link-img" src="images/in.png"></a>
						<a href="https://github.com/runnersaw" target="_blank"><img class="link-img" src="images/gh.png" style="opacity:0.55;"></a>
						<a href="./files/final_resume.pdf" target="_blank"><img class="link-img" src="images/resume.png" style="opacity:0.4;"></a>
					</div>

					<div class="nav">
						<ul>
							<li><a class="scroll" href="mailto:sawyer.vaughan@students.olin.edu">CONTACT</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="banner">
				<div class="container">
					<div class="banner-info">
						<div class="bannerlogo">
							<!--<img src="images/diamond.png">-->
						</div>
						<div class="bannerhead">
							<h2>My name is <span>Sawyer Vaughan</span></h2>
							<h3>Programmer, Designer, Student, Engineer</h3>
							<p>I am an Electrical and Computer Engineer currently studying at the Olin College of Engineering.</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="about" class="about">
			<div class="container">
				<div class="header-section text-center">
					<h2 class="section-title"><span class="section-lines"> </span>ABOUT<span class="section-lines"> </span></h2>
				</div>
				<span><p>I am an Electrical and Computer Engineer studying at the Olin College of Engineering. I enjoy working on electrical and embedded systems, but programming is my passion.</p></span>
				<br>

				<div class="years">
					<h4><b>2016</b></h4>
					<span><h4>iOS Developer | <strong>Onshape</strong></h4></span>
					<p><i>I worked as an iOS Developer intern at Onshape. Learn more about Onshape at <a href="https://www.onshape.com" target="_blank" class="about-link">onshape.com</a>.</i></p>
				</div>

				<div class="years">
					<h4><b>2015</b></h4>
					<span><h4>Co-Founder and Lead iOS Developer | <strong>Boolio</strong></h4></span>
					<p><i>I was a co-founder and the Lead iOS Developer for Boolio. Boolio is a social questions app for iOS and Android. See more at <a href="http://boolio.io" target="_blank" class="about-link">boolio.io</a>.</i></p>
				</div>

				<div class="years">
					<h4><b>2015</b></h4>
					<span><h4>App Developer | <strong>Games for Pebble</strong></h4></span>
					<p><i>I created Games for Pebble, an application for Pebble smartwatches. The application, coded in the C language, currently features seven games and has been installed over twenty thousand times. <a href="https://apps.getpebble.com/applications/54f65e8a13cdff61490000b6" target="_blank" class="about-link">View the app here</a>.</i></p>
				</div>

				<div class="years">
					<h4><b>2014</b></h4>
					<span><h4>Android Developer | <strong>Response Care</strong></h4></span>
					<p><i>I was an Android developer for Response Care. Response Care helps caregivers provide quality care, safety and security for eldercare and senior living by providing state-of-the-art, reliable communications.</i></p>
				</div>

			</div>
		</div>

		<div id="skills" class="skills">
			<div class="container">
				<div class="skills-grids">
					<div class="skill-section text-center">
						<h2 class="section-title"><span class="section-lines"> </span>SKILLS<span class="section-lines"> </span></h2>
					</div>
					<div class="services_grids">
						<div id="canvas">
							<div class="skill-grids text-center">
								<div class="col-md-3">
									<div class="skill-grid skills-black">
										<h3 class="skill-text">iOS</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">SWIFT</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">OBJECTIVE C</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">ANDROID</h3>
									</div>
								</div>
								<div class="clearfix"> </div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">JAVA</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">PYTHON</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">C</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">AJAX</h3>
									</div>
								</div>
								<div class="clearfix"> </div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">HTML</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">CSS</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">JAVASCRIPT</h3>
									</div>
								</div>
								<div class="col-md-3">
									<div class="skill-grid">
										<h3 class="skill-text">NODE.JS</h3>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="port" class="portfolio">
			<div class="portfolio-section text-center">
				<h2 class="section-title"><span class="section-lines"> </span>PORTFOLIO<span class="section-lines"> </span></h2>
			</div>
			<div class="container">
				<div class="portfolio-grids">

				{% for post in site.posts %}
					<a href="{{ post.permalink }}" class="project-link">
						<div class="portfolio-grid col-md-4 portfolio-button" id="boolio-button">
							<img src="{{ post.displayimage }}">
							<div class="portfolio-title">
								<h2>{{ post.project }}</h2>
							</div>
							<div class="portfolio-date">
								<h4>{{ post.time }}</h4>
							</div>
							<p>{{ post.shortdescription }}</p>
							<a class="rightarrow"><span> </span></a>
						</div>
					</a>
				{% endfor %}

				</div>
			</div>
		</div>
	</div>
</body>
</html>

