<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--
DISCLAIMER!!!!

IF YOU'RE LOOKING AT THIS, I'D LIKE YOU TO KNOW THAT I DID NOT WRITE THIS HTML ORIGINALLY - IT IS A HUGE UGLY MESS!
-->
<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
	<div id="top-top" class="headerbg">
		<div id="popup"></div>
			<div class="header">
				<div class="container">
					<div class="social-icons">
						<a href="https://www.linkedin.com/pub/sawyer-vaughan/a4/723/43b" target="_blank" rel="noopener"><img class="link-img" src="/assets/images/in.png"></a>
						<a href="https://github.com/runnersaw" target="_blank" rel="noopener"><img class="link-img" src="/assets/images/gh.png" style="opacity:0.55;"></a>
						<a href="/assets/files/final_resume.pdf" target="_blank" rel="noopener"><img class="link-img" src="/assets/images/resume.png" style="opacity:0.4;"></a>
					</div>

					<div class="nav">
						<ul>
							<li><a class="scroll" href="mailto:sawyer.vaughan@gmail.com">CONTACT</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="banner">
				<div class="container">
					<div class="banner-info">
						<div class="bannerhead">
							<h2>I am <span>Sawyer Vaughan</span></h2>
							<h3>Senior Software Engineer</h3>
							<p>I am a software engineer currently looking for a new opportunity. Previously, I was a Senior Software Engineer at Google. I graduated with an Electrical and Computer Engineering degree from Olin College of Engineering.</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="about" class="about">
			<div class="container">
				<div class="header-section text-center">
					<h2 class="section-title"><span class="section-lines"> </span>ABOUT<span class="section-lines"> </span></h2>
				</div>

				{% for job in site.data.jobs %}
				<div class="years">
					<h4><b>{{ job.year }}</b></h4>
					<span><h4>{{ job.title }} | <strong>{{ job.company }}</strong></h4></span>
					<p><i>{{ job.description }}</i></p>
				</div>
				{% endfor %}

			</div>
		</div>

		<div id="skills" class="skills">
			<div class="container">
				<div class="skills-grids">
					<div class="skill-section text-center">
						<h2 class="section-title"><span class="section-lines"> </span>SKILLS<span class="section-lines"> </span></h2>
					</div>
					<div class="services_grids">
						<div id="canvas">
							<div class="skill-grids text-center">
							{% for skill in site.data.skills %}
								<div class="col-md-3 skill-grid-column">
									<div class="skill-grid skills-black">
										<h3 class="skill-text">{{ skill.skill }}</h3>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="port" class="portfolio">
			<div class="portfolio-section text-center">
				<h2 class="section-title"><span class="section-lines"> </span>PORTFOLIO<span class="section-lines"> </span></h2>
			</div>
			<div class="container">
				<div class="portfolio-grids">

				{% for post in site.posts %}
					{% assign link = post.permalink | default: post.external_link %}
					<a href="https://sawyervaughan.com" class="portfolio-grid project-link">
						<div class="portfolio-button">
							<img class="portfolio-image" src="{{ post.displayimage }}" />
							<div class="portfolio-title">
								<h2>{{ post.project }}</h2>
							</div>
							<div class="portfolio-date">
								<h4>{{ post.time }}</h4>
							</div>
							<p>{{ post.shortdescription }}</p>
							<div class="rightarrow"></div>
						</div>
					</a>
				{% endfor %}

				</div>
			</div>
		</div>
	</div>
</body>
</html>
