<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{% include head.html %}
<link href="/assets/css/project.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="top-top" class="headerbg">
		<div id="popup"></div>
			<div class="header">
				<div class="container">
					<div class="nav nav-left">
						<ul>
							<li><a class="scroll" href="/">BACK</a></li>
						</ul>
					</div>

					<div class="nav nav-right">
						<ul>
							<li><a class="scroll contact-header" href="mailto:sawyer.vaughan@students.olin.edu">CONTACT</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="project">
				<div class="container">
					<div class="project-info">
						<h2 class="project-title">{{ page.project }}</h2>
						<h4 class="project-date">{{ page.time }}</h4>
						{% if page.skills or post.work_in_progress %}
							<div class="project-skill-container">
								{% for skill in page.skills %}
									<p class="project-skill">{{ skill }}</p>
								{% endfor %}
								{% if page.work_in_progress %}
									<p class="project-skill project-skill-warning">Work in progress</p>
								{% endif %}
							</div>
						{% endif %}
						<div class="project-image">
						{% if page.image %}
							<img class="image" src="{{ page.image }}">
						{% endif %}
						{% if page.loop_video %}
							<video class="image larger-image" autoplay muted loop playsinline disablepictureinpicture disableremoteplayback>
								<source src="{{ page.loop_video }}" type="video/mp4" />
							</video>
						{% endif %}
						{% if page.video %}
							<iframe class="image" width="560" height="315" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
						{% endif %}
						</div>
						<div class="project-description">
							{% include {{ page.description }} %}
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

</body>
</html>

